div {
    background-color: #FF8000;
    display: inline-block;
    width: 80px;
    height:15px;
    margin: 15px;
    padding: 5px;
    
}

.segundo {
  background-color: #151515;
  color:white;
  width: 15px;
  height:15px;
  margin: 15px;
  padding: 5px;
  display: inline-block;
}

.largo {
    background-color: #FF8000;
    display: inline-block;
    width: 150px;
    height:15px;
    margin: 15px;
    padding: 5px;
    
}