/* parte 1  */
div {
    background-color: #FF8000;
    box-sizing: border-box;
    display: block;
    margin: 5px;
    height: 100px;
}
.segundo{
    background-color: #151515;
    color: white;
}